---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h2>Welcome</h2>
      <p>
        This is my website, which is in the process of being re-written
        (November 2022). Nothing is ready for viewing.
      </p>
      <h2>Recent Posts</h2>
      <p>TODO: Recent posts</p>
    </main>
    <Footer />
  </body>
</html>
