---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Welcome</h1>
      <p>This is my website, which is a work in progress:</p>
      <ul class="reading-width">
        <li>2022-10-30 Just created this site, this is not complete</li>
        <li>2022-10-31 The theme works but the spacing is off.</li>
      </ul>
      <p></p>
    </main>
    <Footer />
  </body>
</html>
