---
import { friendlyDate } from "./Formats";

interface Props {
  url: string;
  title: string;
  pubDate: string | Date;
  description?: string;
}

const { url, title, pubDate, description } = Astro.props;
---

<div class="mb-3 flex flex-col justify-between">
  <div class="mb-1 flex flex-col">
    <h3 class="h3">
      <a class="main-link" href={url}>
        {title}
      </a>
    </h3>
    <span class="text-sm text-main-900 dark:text-main-600">
      {friendlyDate(pubDate)}
    </span>
  </div>
  <div class="max-w-prose">
    {description && <span>{description}</span>}
  </div>
</div>
