---
const today = new Date();
---

<footer class="content-width" style="text-align: center; margin: 2rem auto">
  <div class="hatch-box" style="margin-bottom: 1rem;">
    <div><a href="#">Top</a></div>
  </div>
  <div>
    &copy; {today.getFullYear()} t3hmun | CC-BY-SA-4.0
  </div>
</footer>
