---
const today = new Date();
---

<footer class="content-width" style="text-align: center; margin: 2rem auto">
  <div class="hatch-box" style="margin-bottom: 1rem;">
    <div><a href="#">Top</a></div>
  </div>
  <div>
    &copy; {today.getFullYear()} t3hmun | CC-BY-SA-4.0
  </div>
</footer>
<script>
  console.log("script start");
  // Script to toggle light dark theme by changing the stylesheet.
  const button = document.getElementById("theme-toggle");
  const mainCssEle = document.getElementById("main-css");
  if (button && mainCssEle) {
    button.onclick = () => {
      let cssUrl = mainCssEle.getAttribute("href");
      if (cssUrl) {
        if (cssUrl.endsWith("dark.css"))
          cssUrl = cssUrl.replace("dark", "light");
        else cssUrl = cssUrl.replace("light", "dark");
        mainCssEle.setAttribute("href", cssUrl);
      }
    };
  }
</script>
