---
const today = new Date();
---

<footer class="footer">
  <div class="hatch-box">
    <a href="#">Top</a>
  </div>
  &copy; {today.getFullYear()} t3hmun | CC-BY-SA-4.0
</footer>
<script>
  console.log("script start");
  // Script to toggle light dark theme by changing the stylesheet.
  const button = document.getElementById("theme-toggle");
  const mainCssEle = document.getElementById("main-css");
  if (button && mainCssEle) {
    button.onclick = () => {
      let cssUrl = mainCssEle.getAttribute("href");
      if (cssUrl) {
        if (cssUrl.endsWith("dark.css"))
          cssUrl = cssUrl.replace("dark", "light");
        else cssUrl = cssUrl.replace("light", "dark");
        mainCssEle.setAttribute("href", cssUrl);
      }
    };
  }
</script>
