---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
const liStyle = "display: inline; padding: 0rem 0.5rem";
---

<script is:inline>
  const dark = "dark";
  const light = "light";
  const key = "theme";

  const darkCss = {
    "--astro-code-color-text": "#f6f8fa",
    "--astro-code-color-background": "#24292e",
    "--astro-code-token-constant": "#c8e1ff",
    "--astro-code-token-string": "#79b8ff",
    "--astro-code-token-comment": "#959da5",
    "--astro-code-token-keyword": "#ea4a5a",
    "--astro-code-token-parameter": "#f6f8fa",
    "--astro-code-token-function": "#005cc5",
    "--astro-code-token-string-expression": "#cc0000",
    "--astro-code-token-punctuation": "#dd0000",
    "--astro-code-token-link": "#ee0000",
  };

  const lightCss = {
    "--astro-code-color-text": "#eeeeee",
    "--astro-code-color-background": "#eeeeee",
    "--astro-code-token-constant": "#660000",
    "--astro-code-token-string": "#770000",
    "--astro-code-token-comment": "#880000",
    "--astro-code-token-keyword": "#990000",
    "--astro-code-token-parameter": "#aa0000",
    "--astro-code-token-function": "#bb0000",
    "--astro-code-token-string-expression": "#cc0000",
    "--astro-code-token-punctuation": "#dd0000",
    "--astro-code-token-link": "#ee0000",
  };

  activateTheme();

  document.querySelectorAll('[id^="toggle-theme"]').forEach((element) => {
    element.onclick = () => {
      toggleTheme();
    };
  });

  /** Set the CSS to activate whatever theme is set in localStorage.theme or CSS media. */
  function activateTheme() {
    const theme = getLocalTheme() ?? getCssTheme() ?? defaultTheme;
    if (theme === dark) {
      document.documentElement.classList.add(dark);
      for (let key in darkCss)
        document.documentElement.style.setProperty(key, darkCss[key]);
    } else {
      document.documentElement.classList.remove(dark);
      for (let key in lightCss) {
        console.log(lightCss[key]);
        document.documentElement.style.setProperty(key, lightCss[key]);
      }
    }

    // Clear local storage if user's computer settings match the current stored setting.
    // Only want to keep a setting persisted while it is differnt from the user's settings.
    if (theme === getCssTheme()) {
      localStorage.removeItem(key);
    }
  }

  /** Toggle the current theme and set it to persist if it does not match the computer setting. */
  function toggleTheme() {
    const localTheme = getLocalTheme();
    const cssTheme = getCssTheme();
    const current = localTheme ?? cssTheme ?? defaultTheme;

    const theme = current === light ? dark : light;

    if (theme === cssTheme) {
      localStorage.removeItem(key);
    } else {
      localStorage.setItem(key, theme);
    }

    activateTheme();
  }

  function getCssTheme() {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) return dark;
    if (window.matchMedia("(prefers-color-scheme: light)").matches)
      return light;
    return null;
  }

  function getLocalTheme() {
    if (localStorage.getItem(key) === dark) return dark;
    if (localStorage.getItem(key) === light) return light;
    return null;
  }
</script>
<header
  class="mb-4 bg-stone-200 py-4 text-stone-900 dark:bg-stone-800 dark:text-stone-100"
>
  <div class="mb-3 text-center text-4xl font-semibold">
    <a class="main-link" href="/">{SITE_TITLE}</a>
  </div>
  <nav>
    <ul class="flex-column items-middle flex flex-wrap justify-center">
      <li class="mx-3">
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li class="mx-3">
        <HeaderLink href="/archive">Archive</HeaderLink>
      </li>
      <li class="mx-3">
        <HeaderLink href="https://github.com/t3hmun" target="_blank"
          >GitHub</HeaderLink
        >
      </li>
      <li class="mx-3">
        <button class="main-link" id="theme-toggle" onclick="toggleTheme()"
          >Switch Theme</button
        >
      </li>
    </ul>
  </nav>
</header>
