---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
const liStyle = "display: inline; padding: 0rem 0.5rem";
---

<header>
  <div>
    {SITE_TITLE}
  </div>
  <nav>
    <ul>
      <li>
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/archive">Archive</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/about">About</HeaderLink>
      </li>
      <li>
        <HeaderLink href="https://github.com/t3hmun" target="_blank"
          >GitHub</HeaderLink
        >
      </li>
      <li>
        <button id="theme-toggle">Switch Theme</button>
      </li>
    </ul>
  </nav>
</header>
