---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <div class="masthead">
    {SITE_TITLE}
  </div>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/posts">Posts</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://github.com/t3hmun" target="_blank"
      >GitHub</HeaderLink
    >
  </nav>
</header>
