---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive =
  href === Astro.url.pathname || href === Astro.url.pathname.replace(/\/$/, "");
const pathname = Astro.url.pathname;
---

<a
  href={href}
  class={`hover:text-main-500  ${className}${isActive ? " font-bold" : ""}`}
  {...props}
>
  <slot />
</a>
