---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const isActive =
  href === Astro.url.pathname || href === Astro.url.pathname.replace(/\/$/, "");
---

<a
  href={href}
  class={`main-link  ${className}${isActive ? " font-bold" : ""}`}
  {...props}
>
  <slot />
</a>
